
<div class="row">
	<main class="col-md-12">
		<h5>
			<ul>Tutor: Parkavi Kishokanth</ul>
			<ul>Seneca Student Number: 150994218 </ul>
			<ul>Program: Postgraduate Certificate in Business Information Technology </ul>
			<ul>College: Seneca College, Toronto, ON </ul>
		</h5>
		


	</main>
</div>
