
<div class="row">
	<main class="col-md-12">
		<h3 class="header">HOME</h3>
		
		<ol>
			<li>Students by Course</li>
			<li>A Single Student By Student Number</li>
			<li>All Managers</li>
			<li>All Courses</li>
		</ol>
	</main>
</div>
