<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
		<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
		<link rel="stylesheet" href="/css/theme.css">
	</head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Student Name</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
					<li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
					<li class="nav-item"><a class="nav-link" href="/students/add">Add Student</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/students">Students</a></li>
					<li class="nav-item"><a class="nav-link" href="/tas">Teaching Assistants</a></li>
					<li class="nav-item"><a class="nav-link" href="/courses">Courses</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">

					<table>
						<tr>
							<td>
								<table class="tutorialtable">
									<thead>
										<th class="thstyle">Chapter</th>
										<th class="thstyle" id="lout">Learning outcome</th>
										<th class="thstyle">Duration</th>
									</thead>
									<tbody>
										<tr class="odd">
											<td class="tdtable">1</td>                                   
											<td class="tdtable" id="tdwidth">Learn basic syntax and html tags</td>
											<td class="tdtable">3 hours</td>
										</tr>
										<tr class="even">
											<td class="tdtable">2</td>                                   
											<td class="tdtable">Paragraphs and styles</td>
											<td class="tdtable">2 hours</td>
										</tr>
										<tr class="odd">
											<td class="tdtable">3</td>                                   
											<td class="tdtable">Table contents</td>
											<td class="tdtable">3 hours</td>
										</tr>
										<tr class="even">
											<td class="tdtable">4</td>
											<td class="tdtable">Styling in depth</td>
											<td class="tdtable">2 hours</td>
										</tr>
									</tbody>
									<tfoot>
										<td colspan="2" class="tdtable"><b>Total hours</b></td>
										<td>10 hours</td>
									</tfoot>
									<centre><caption>Tutorial on HTML</caption></centre>
								</table>
								<br>
								<br>
								<br>
		
							</td>
		
							<td>
					
		
								<table class="assessmenttable">
									<caption>Assessments</caption>
									<thead>
										<th class="thstyle">Assessment Type</th>
										<th class="thstyle">Weight</th>
										<th class="thstyle">Group/Individual</th>
									</thead>
									<tbody>
										<tr class="odd">
											<td class="tdtable">Quiz</td>
											<td class="tdtable">25%</td>
											<td class="tdtable">Individual</td>
										</tr>
										<tr class="even">
											<td class="tdtable">Coding</td>
											<td class="tdtable">35%</td>
											<td class="tdtable">Individual</td>
										</tr>
										<tr class="odd">
											<td class="tdtable">Project</td>
											<td class="tdtable">40%</td>
											<td class="tdtable">Group</td>
										</tr>
									</tbody>
									<tfoot>
										<td colspan="2" class="tdtable"><b>Total marks</b></td>
										<td class="tdtable">100%</td>
									</tfoot>
								</table>
							</td>
						</tr>
					</table>
					
					<br>
					<br>
					<br>
		
				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	</body>
</html>